.accordion {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  list-style: none;
  .accordion-item {
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid $gray;
    margin-bottom: 18px;
    transition: all ease .3s;
  }
  .accordion-handle {
    appearance: none;
    border: none;
    background-color: $gray;
    padding: 25px 35px;
    display: block;
    width: 100%;
    text-align: left;
    font-family: $font-brandon-bold;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000;
    position: relative;
    transition: all ease .3s;
    &:after {
      content:"";
      display: block;
      width: 8px;
      height: 8px;
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
      position: absolute;
      right: 35px;
      top: 30px;
      transform: rotate(45deg);
      transition: all ease .3s;
    }
    &.active {
      background-color: #FFF;
    }
    &.active:after {
      border-color: $red;
      transform: scaleY(-1) rotate(45deg);
    }
  }
  .accordion-details {
    padding: 0 35px 15px;
    font-size: 18px;
    line-height: 1.4;
    color: #000;
    display: none;
    p {
      color: #000;
    }
  }
  .accordion-item.active {
    border-color: #000;
  }
  .accordion-details:has(.gform_wrapper) {
    .gform_wrapper {
      width: 100%;
      @include tab {
        width: 50%;
      }
    }
  }
}

.title-wrapper.no-border .inner {
  border-bottom: none;
}

.title-wrapper.text-center {
  h2, .section-text, p {
    text-align: center;
  }
}

.accordion_elements_section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.cards-multiple-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.cardsWrapper.card_style2 {
  .imageWrap {
    width: 100%;
  }
  figure {
    padding-bottom: 0;
    div.image {
      padding-bottom: 60%;
      position: relative;
      overflow: hidden;
      border-radius: 15px;
      border: 1px solid #CCC;
    }
  }
  figcaption {
    margin-top: 20px;
    h3 {
      font-family: $font-brandon-bold;
      font-size: 18px;
      line-height: 1.2;
      text-transform: uppercase;
      color: #000;
      margin: 0 0 5px;
    }
    .card-details {
      color: #000;
      font-size: 18px;
      line-height: 1.4;
    }
  }
  .buttonBlock {
    margin-top: 20px;
  }
  &.count-2 {
    .imageWrap {
      @include xs {
        width: 50%;
      }
    }
  }
  &.count-3 {
    .imageWrap {
      @include tab {
        width: 33.333%;
      }
    }
  }
  &.count-4 {
    .imageWrap {
      @include xs {
        width: 50%;
      }
      @include tab {
        width: 25%;
      }
    }
  }
}


.social_media_section {
  padding-top: 30px;
  padding-bottom: 40px;
  .social-media-links {
    text-align: center;
    position: relative;
    top: -10px;
    a {
      font-size: 2rem;
      line-height: 1;
      color: #6d6d6d;
      display: inline-block;
      margin: 5px 8px;
      transition: all ease .3s;
      &:hover, &:focus {
        color: #000;
        transform: translateY(-2px);
      }
    }
  }
}
.buttons-section-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  @include tab {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  @include desk {
    margin-top: 80px;
    margin-bottom: 90px;
  }
  .flexwrap {
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
}
body.subpage .site-header {
  z-index: 99999999!important;
}
body.subpage.single.single-festival {
  .pageTabs2 {
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 0 !important;
  }
  .banner-bottom {
    overflow: hidden;
    #bannerBottomSvg1  {
      transform: scale(1.02);
    }
  }
  .site-content {
    padding-top: 0;
  }
  .bannerBottomSvg2 {
    fill: #FFF;
  }
  .intro-text-wrap {
    padding-top: 75px;
    padding-bottom: 50px;
  }
  .column-data-section .text-large {
    margin-top: 10px;
    text-transform: none;
    font-size: 2.5rem;
  }
  .column-data-section {
    @include desk {
      padding-bottom: 40px;
    }
    .fxcol {
      @media screen and (min-width: 1480px) {
        width: auto;
        padding-left: 5vw;
        padding-right: 5vw;
      }
    }
  }
  .upcoming_events_section {
    margin: 50px 0;
    .eventLink {
      text-decoration: none;
      color: #000;
      * {
        transition: all ease .3s;
      }
      figure {
        &:before {
          content:"";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 20;
          border-radius: 12px;
          border: 2px solid $red;
          opacity: 0;
          transition: all ease .3s;
        }
      }
      
      .start-date {
        font-family: $font-brandon-bold;
        font-size: 20px;
      }
      &:hover, &:focus {
        .start-date,
        .event-title {
          color: $red;
        }
        figure:before {
          opacity: 1;
        }
      }
    }
  }


  .schedule_dash_listings_section {
    width: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 50px;
    .titleDiv {
      text-align: center;
      .info1 {
        text-transform: uppercase;
        margin-top: 15px;
      }
      .info2 {
        font-size: 15px;
        font-style: italic;
        color: $red;
      }
    }
  }

  .schedule-listing-dashes {
    max-width: 800px;
    width: 100%;
    margin: 45px auto 0;
    .info {
      margin: 10px 0;
      .flexwrap {
        text-transform: uppercase;
        color: #000;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        &:after {
          content:"";
          display: block;
          width: 100%;
          border-bottom: 1px dashed #CCC;
          position: absolute;
          left: 0;
          bottom: 6px;
        }
        .name, .time {
          position: relative;
          z-index: 5;
          background-color: #FFF;
          font-size: 16px;
        }
        .name {
          font-family: $font-brandon-bold;
          padding-right: 5px;
          letter-spacing: 0.02em;
        }
        .time {
          font-size: 14px;
          padding-left: 5px;
        }
      }
      .desc {
        font-size: 13px;
        font-style: italic;
      }
    }
  }

  .fullwdith_text_section {
    width: 100%;
    float: left;
    background-color: #F2F2F2;
    text-align: center;
    margin: 60px 0 40px;
    .wrapper {
      padding-top: 25px;
      padding-bottom: 20px;
      .stitle {
        font-size: 20px;
        margin-bottom: 5px;
      }
      .text-wrap {
        font-family: $font_condense;
        font-size: 20px;
        text-transform: uppercase;
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

body.page-template-page-about.subpage {
  .image_and_text_two_column.section-two_column_row {
    width: 100%;
    float: left;
  }
  .site-header.start-position {
    position: fixed!important;
  }
  .site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: transparent!important;
    .logo {
      filter: brightness(0) invert(1);
    }
    .navbar{
      background-color: transparent!important;
    }

    .navbar .right .today,
    .navbar .right .cal a,
    nav.new-nav .menu-item a {
      color: #FFF!important;
    }
    nav.new-nav .menu-item:hover a {
      color: #000!important;
    }
  }
  .site-content {
    padding-top: 0;
  }
}

.text_content_center_block {
  color: #FFF!important;
  background: $gray_darker;
  // padding-top: 18vw;
  // padding-bottom: 5vw;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .wrapper {
    transform: translateY(5vw);
  }
  .h2, p {
    color: #FFF!important;
  }
  h2, .h2 {
    font-size: 55px;
    margin: 0 0 3vw;
  }
  h3 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1.3;
    margin: 0 0 30px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
  }
}
.fullwidth_video_block {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 1241px) {
    max-height: 600px;
  }
  @media screen and (min-width: 1480px) {
    max-height: 700px;
  }
  .textOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #FFF;
    padding: 30px;
    z-index: 30;
    .wrapper {
      text-align: center;
      color: #FFF;
      h1,h2,h3,p {
        color: #FFF;
      }
      h2 {
        font-family: $font-brandon-bold;
        font-size: 3rem;
        line-height: 1.2;
        text-transform: uppercase;
        margin: 0 0;
        @media screen and (min-width: 1251px) {
          font-size: 55px;
        }
      }
      p {
        font-size: 20px;
        line-height: 1.3;
      }
    }
  }
  .videoFrame {
    position: relative;
    padding-bottom: 57%;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      border: none!important;
      margin: 0 0;
      width: 110%!important;
      height: 110%!important;
      transform: translateY(-15%);
      @media screen and (max-width:1100px) {
        transform: translateY(0) scale(1.5);
      }
      @media screen and (max-width:960px) {
        transform: translateY(0) scale(1.2)!important;
      }
    }
  }

  &:has(.textOverlay) {
    .videoFrame:before {
      content:"";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.5);
      z-index: 10;
    }
  }

  &.text--bottom_left {
    .textOverlay {
      justify-content: flex-start;
      align-items: flex-end;
      text-align: left;
      .wrapper {
        text-align: left;
        color: #FFF;
        max-width: 800px;
        width: 100%;
        margin: 0 0;
        padding-bottom: 2vw;
        padding-left: 4vw;
        padding-right: 4vw;
      }
    }
  }

  &.text--bottom_right {
    .textOverlay {
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
      .wrapper {
        text-align: left;
        color: #FFF;
        max-width: 800px;
        width: 100%;
        margin: 0 0;
        padding-bottom: 2vw;
        padding-left: 4vw;
        padding-right: 4vw;
      }
    }
  }

  &.text--bottom_center {
    .textOverlay {
      justify-content: center;
      align-items: flex-end;
      text-align: center;
      .wrapper {
        text-align: center;
        color: #FFF;
        max-width: 90vw;
        width: 100%;
        margin: 0 0;
        padding-bottom: 2vw;
        padding-left: 4vw;
        padding-right: 4vw;
      }
    }
  }

  &.fullwidth_video_alt {
    position: relative;
    min-height: 700px;
    max-height: unset;
    background: $gray_darker;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 1251px) {
      padding: 50px 6vw;
    }
    &.text--bottom_left {
      .textOverlay {
        justify-content: flex-start;
        align-items: flex-end;
        text-align: left;
        .wrapper {
          text-align: left;
          color: #FFF;
          max-width: 800px;
          width: 100%;
          margin: 0 0;
          padding-bottom: 2vw;
          padding-left: 4vw;
          padding-right: 4vw;
        }
      }
    }

    &.text--bottom_right {
      .textOverlay {
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        .wrapper {
          text-align: left;
          color: #FFF;
          max-width: 800px;
          width: 100%;
          margin: 0 0;
          padding-bottom: 2vw;
          padding-left: 4vw;
          padding-right: 4vw;
        }
      }
    }

    &.text--bottom_center {
      .textOverlay {
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        .wrapper {
          text-align: center;
          color: #FFF;
          max-width: 90vw;
          width: 100%;
          margin: 0 0;
          padding-bottom: 2vw;
          padding-left: 4vw;
          padding-right: 4vw;
        }
      }
    }

    .textOverlay {
      position: absolute;
      top: unset;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 30;
      color: #FFF;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-end;
      text-align: left;
      .wrapper {
        max-width: 85vw;
        text-align: left;
        padding-bottom: 40px;
      }
      h2 {
        width: 100%;
      }
    }
    .videoThumbnail {
      width: 100%;
      height: 100%;
      position: relative;
      figure {
        position: relative;
        margin: 0 0;
        padding-bottom: 0;
        img {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
        span.image {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-size: cover;
          background-position: center;
        }
        span.play {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 20;
          color: #FFF;
          font-size: 4rem;
          transition: all ease .3s;
        }
      }
      figure:has(a) {
        height: 100%;
        padding-bottom: 0;
        overflow: visible;
        border-radius: 0;
        a {
          display: block;
          position: relative;
          padding-bottom: 50%;
          overflow: hidden;
          border-radius: 20px;
          &:before {
            content:"";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.35);
            z-index: 10;
          }
          .videoText {
            position: relative;
            z-index: 30;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            color: #FFF;
            text-decoration: none;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-start;
            padding: 30px;
            h2 {
              font-family: $font-brandon-bold;
              font-size: 50px;
              text-transform: uppercase;
              line-height: 1.2;
              margin: 0 0;
              color: #FFF;
            }
          }

          &:hover {
            span.play {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    &.text--center {
      .videoText {
        align-items: center!important;
        justify-content: center!important;
      }
    }
    &.text--bottom_right {
      .videoText {
        align-items: flex-end!important;
        justify-content: flex-end!important;
      }
    }
    &.text--bottom_center {
      .videoText {
        align-items: flex-end!important;
        justify-content: center!important;
      }
    }
  }

  @media screen and (max-width: 960px) {
    .videoFrame {
      transform: scale(1.2);
      iframe {
        transform: translateY(0);
      }
    }

    &.fullwidth_video_alt {
      min-height: auto;
      .videoThumbnail figure .videoText {
        align-items: flex-end!important;
        justify-content: center!important;
      }
      .videoThumbnail {
        min-height: auto;
        figure:has(a) a {
          padding-bottom: 70%;
        }
      }
    }
  }
}

.image_and_text_two_column {
  &.section-two_column_row {
    margin-top: 50px;
    margin-bottom: 50px;
    .textBlock h2 {
      font-size: 50px;
    }
  }
  .imageBlock {
    overflow: hidden;
  }
  .image-left {
    .flexwrap.half {
      flex-direction: row-reverse;
      .imageBlock {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
  .image-right {
    .flexwrap.half {
      .textBlock {
        text-align: right;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .image-right .flexwrap.half .textBlock {
      text-align: left;
    }
    .flexwrap.half {
      .textBlock, .imageBlock {
        width: 100%!important;
      }
    }
    .flexwrap .textBlock {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .flexwrap .imageBlock {
      border-radius: 0!important;
      figure {
        height: auto;
        padding-bottom: 60%;
      }
    }
  }
}

.image_cards_columns {
  width: 100%;
  float: left;
  color: #FFF;
  background: $gray_darker;
  padding: 50px 20px;
  h1,h2,h3,h4,h5,h6,p {
    color: #FFF;
  }
  h2 {
    font-size: 50px;
  }
  .wrapper {
    max-width: 100%;
    @media screen and (min-width:1251px) {
      max-width: 95vw;
    }
  }

  .title-wrapper {
    display: block;
    max-width: 800px;
    width: 100%;
    margin:0 auto 40px;
  }
  .cards {
    .flexwrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -15px;
      margin-right: -15px;
      .imageBlock {
        width: 25%;
        padding: 15px;
        @media screen and (max-width: 960px) {
          width: 50%;
        }
        @media screen and (max-width: 600px) {
          width: 100%;
        }
        figure {
          margin: 0 0;
          position: relative;
          padding-bottom: 120%;
          overflow: hidden;
          border-radius: 20px;
          img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
          }
          .cardCategory, .cardTitle {
            display: block;
            position: absolute;
            left: 0;
            color: #FFF;
            text-transform: uppercase;
            z-index: 10;
            font-family: $font-brandon-bold;
            line-height: 1.2;
            padding: 8px 15px;
          }
          .cardCategory {
            top: 10px;
            font-size: 25px;
          }
          .cardTitle {
            bottom: 10px;
            left: 10px;
            font-size: 35px;
          }
        }
        figure:has(a) {
          overflow: visible;
          padding-bottom: 0;
          a {
            display: block;
            border-radius: 20px;
            transition: all ease .3s;
            position: relative;
            padding-bottom: 120%;
            overflow: hidden;
            &:after {
              content:"";
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              bottom: 0;
              background: #FFF;
              background: linear-gradient(0deg, white 16%, rgba(255, 255, 255, 0.3716080182) 100%);
              transition: all ease .3s;
              opacity: 0;
            }

            &:hover, &:focus {
              .cardCategory, .cardTitle {
                color: #000;
              }
              &:after {
                opacity: 0.9;
              }
            }
          }
        }
      }
    }
  }

  .bottom-text {
    max-width: 100%;
    width: 100%;
    margin: 20px auto 0;
    @media screen and (min-width: 1251px) {
      max-width: 60vw;
    }
  }

  .cta-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  @media screen and (min-width: 1251px) {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  @media screen and (min-width: 1300px) {
    padding: 80px 5vw;
  }
}

.content-area-single {
  .post-title {
    @include page_title_style;
    text-align: center;
  }
  .entry-title {
    text-align: center;
    .meta {
      margin-top: 15px;
      color: #888;
      span:first-child {
        border-right: 1px solid #CCC;
        padding-right: 8px;
        margin-right: 6px;
      }
    }
  } 

  blockquote,
  blockquote.large {
    font-family: $font-brandon-medium-italic;
    font-size: 2.3em;
    line-height: 1.2;
    color: #000;
    margin: 50px 0;
    text-align: left;
  }

  .contentWrap {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    &.quote:has(blockquote) {
      padding-top: 50px;
      blockquote {
        font-family: $font-brandon-light-italic;
        font-size: 1.2em;
        line-height: 1.3;
        text-align: center;
      }
    }
  }
  // blockquote {
  //   font-family: $font-brandon-regular-italic;
  //   font-size: 1.5rem;
  //   font-weight: normal;
  //   line-height: 1.4;
  //   text-align: center;
  //   margin: 50px 0;
  // }

  .featured-image {
    figure {
      margin: 0 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .text-content {
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 17px;
    line-height: 1.5;
    color: #000;
    p {
      color: #000;
    }
  }

  .text-content-gallery {
    .gallery-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;
      .imagewrap {
        width: 50%;
        padding: 10px;
      }
      &.count-3 {
        .imagewrap {
          width: 33.333%;
        }  
      }
      &.count-5 {
        .imagewrap {
          width: 33.333%;
        }
        .imagewrap:nth-child(4),
        .imagewrap:nth-child(5) {
          width: 50%;
        }    
      }
      &.count-6 .imagewrap {
        width: 33.333%;
      }
      &.count-7 .imagewrap {
        width: 33.333%;
        &:last-child {
          width: 100%;
        }
      }
    }
    figure {
      margin: 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: auto;
      }
    }

    @media screen and (max-width: 860px) {
      .gallery-wrapper .imagewrap {
        width: 100%!important;
      }
    }
  }
}

body.single-post {
  div.simplesocialbuttons.simplesocialbuttons-float-left-center,
  .simplesocialbuttons {
    visibility: hidden;
    z-index: -999;
  }
  #primary {
    div.simplesocialbuttons.simplesocialbuttons-float-left-center,
    .simplesocialbuttons {
      position: relative!important;
      visibility: visible;
      z-index: 100;
      transform: none!important;
      top: 0!important;
      left: 0;
      margin: 0 auto!important;
      max-width: 1200px;
      width: 100%!important;
    }
    .simplesocialbuttons.simplesocial-round-icon button {
      margin: 5px !important;
      color: #000 !important;
      border: 1px solid #000;
      padding: 0 0;
      width: 25px;
      height: 25px;
      &:after {
        width: 100%;
        height: 100%;
        line-height: 1;
        transform: scale(0.7);
        position: relative;
        top: 2px;
        display: block;
      }
      &:hover, &:focus {
        border-color: $red!important;
        background-color: $red;
        color: #FFF!important;
      }
    }
    .ssb-hide-floating-bar,
    .fb-like.fb_iframe_widget {
      display: none!important;
    }
  }

  .guest-author {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #000;
    .inner {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 0 30px;
    }
    .authorPhoto {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin: 0 auto 10px;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    .author {
      font-family: $font-brandon-bold;
    }
    .bio {
      margin: 10px 0 0;
      p {
        color: #000;
      }
    }
  }
}

@media print {
  html {
    margin: 0 0;
    padding: 0 0;
  }
  html, body { height: auto; }
  body {
    padding: 0 0;
    margin: 0 0;
  }
  * {
    box-sizing: border-box;
  }
  @page {
    size: A4;
  }
  body.single-post {
    .site-header, .site-footer, .no-banner-spacer,
    .skip-link, #overlay, #wpadminbar {
      display: none!important;
    }
    .site-content {
      padding-top: 0;
      padding-bottom: 0;
    }
    div, figure, img {
      page-break-after: avoid;
      page-break-inside: avoid;
    }
    .site {
      overflow: visible!important;
    }
    #page, #content, #primary, #main {
      padding: 0 0!important;
      width: 100%;
      float: left;
    }
    .entry-title {
      padding-top: 60px;
    }
    blockquote {
      margin-top: 20px;
      margin-bottom: 20px;
      border: none;
    }
    .content-area-single .contentWrap {
      padding: 0 0!important;
      max-width: 100%!important;
    }
    .content-area-single .text-content {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}




